<style>
    .carousel-item img {
        height: 600px;
    }

    /* .card img{
        height: 250px;
    } */
    .card-img {
        overflow: hidden;
    }

    .card-img:hover img {
        transform: scale(1.5);
    }

    .card-img img {
        transition: all 2s;
        height: 250px;
    }

    .card-body {
        background: linear-gradient(to top right, rgba(66, 77, 173, 0.5), rgba(170, 156, 46, 0.5));
        text-align: center;
        text-transform: capitalize;
    }

    .form label {
        display: none;
    }
    .one{
        color: #04211f !important;  
        background-color: rgb(252, 209, 252); 
        font-weight: 500; font-size: 25px; 
        padding: 5px 20px; 
         position: relative; 
         left: 90px; 
         bottom: 20px; 
         border-radius: 50px;
    }
    .continue{
        position: relative; 
        right: 20px; 
         bottom: 20px; 
         
    .continue a{
        font-size: 8px;
    }
    }
</style>

{% extends 'layout.html '%}
{% load static %}
{% block title %}
<title>E-commerce - Cart</title>
{% endblock %}

{% block main_content %}

<!-- card start -->

<div class="container-fluid py-5">
     
    {% if items|length == 0 %}
    <span  class="one shadow-lg"> <span style="color: rgb(126, 39, 137); ">No Items In</span> The Cart</span>
    {%else%}
    <div class="section d-flex align-items-center justify-content-between">
        <span  class="one"> <span style="color: rgb(126, 39, 137); ">My Cart</span> Items </span>
        <span class="continue"><a href="{%url 'productspage' %}" class="btn btn-outline-success rounded-pill"><i class="fas fa-long-arrow-alt-left mr-2 pe-1"> </i>Continue Shopping</a></span>

    </div>

   
    <div class="row d-flex justify-content-evenly">
        <div class="col-md-6">
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success">
                {{ msg }}
            </div>
            {% endif %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
            {% endif %}
            {% endfor%}

            <table class="table table-bordered table-striped table-light table-responsive">
                <thead class="table-dark">
                    <tr>
                        <th scope="col"> <strong class="text-small text-uppercase">Name</strong></th>
                        <th scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
                        <!-- <th scope="col"> <strong class="text-small text-uppercase">Image</strong></th> -->
                        <th scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
                     
                        <th scope="col"> <strong class="text-small text-uppercase">Total</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr>
                        <td>
                            <div class="media align-items-center">
                                
                                  <a class="reset-anchor d-block animsition-link" href="{% url 'productdetail' i.product.id  %}"><img src="/{{ i.product.image }}" alt="{{ i.product.product_name }}" width="70"/></a>
                         
                                 
                        
                                <div class="media-body ml-3"><strong class="h6"><a class="reset-anchor animsition-link" href="">{{ i.product.product_name }}</a></strong></div>
                              </div>
                        </td>
                        <!-- <td>
                            {{ i.product.product_name }}</td> -->
                        <td>{{ i.product.product_price }}</td>
                       

                        <!-- <td>
                            <img src="/{{ i.product.image }}" alt="image content" width="80px">
                        </td> -->
                        <td class="align-middle border-0">
                            <div class="border d-flex align-items-center justify-content-between px-3">
                              <div class="quantity">
                                <a href="{% url 'minus-cart' i.id %}" class="dec-btn p-0 ml-2"><i class="fas fa-minus"></i></a>
    
                                <input class="border" type="text" value="{{i.quantity}}" width="12px"/>
    
                                <a href="{% url 'plus-cart' i.id %}" class="inc-btn p-0"><i class="fas fa-plus"></i></a>
                              </div>
                            </div>
                          </td>
                          <td class="align-middle border-0">
                            <p class="mb-0 small">Rs.{{i.total_price}}</p>
                          </td>
                          <td class="align-middle border-0"><a class="reset-anchor" href="{% url 'removecart' i.id %}"><i class="fas fa-trash-alt small text-muted"></i></a></td>
                        </tr>
<!--                        
                        <td> -->
                            <!-- <a href="" class="btn btn-danger"
                                onclick="return confirm('Are You Sure Want to Delete This Cart Item ?')">
                                <i class="fas fa-trash-alt"></i>
                            </a> -->
                            <!-- <a href="/products/orderitemform/{{i.product.id}}/{{i.id}}" class="btn btn-info btn-sm">Order Now</a> -->
                        <!-- </td> -->
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
          
        </div>

        <div class="col-md-3">
           

            <div class="card border-0 rounded-0 p-lg-0">
                <div class="card-body">
                  <h5 class="text-uppercase mb-4">Cart total</h5>
                  <ul class="list-unstyled mb-0">
                    <li class="d-flex align-items-center justify-content-between"><strong class="text-uppercase small font-weight-bold">Subtotal</strong><span class="text-muted small">Rs.{{amount}}</span></li>
                    <li class="d-flex align-items-center border-bottom my-2 justify-content-between"><strong class="text-uppercase small font-weight-bold">Shipping Charge</strong><span class="text-muted small">Rs.{{shipping}} </span></li>
                    <li class="d-flex align-items-center justify-content-between mb-4"><strong class="text-uppercase small font-weight-bold">Total</strong><span>Rs.{{total_amount}}</span></li>
                    
                    <li>
                      <form method="" action="">

                        <div class="mb-3">
                          {% if addresses %}
                            {% for address in addresses %}
                              <div class="mb-3">
                              <input type="radio" name="address" value="{{address.id}}"> <strong>Address {{forloop.counter}}</strong> <br>
                              {{address.address}} )
                              </div>
                            {% endfor %}
                          {% endif %}
    
                          <label for="payment">Payment Option:</label>
                          <select id="payment" name="payment">
                            <option value="Cash">Cash on Delivery</option>
                            <option value="e-Sewa">e-Sewa</option>
                          </select>


                          </div>

                        <div class="form-group">
                          <type="submit" class="btn btn-dark btn-lg btn-outline-dark text-white" type="submit">Submit</button>
                        </div>

                      </form>
                    </li>

                  </ul>

                </div>
              </div>
            {% endif %}
        </div>
        
    </div>

</div>
<!-- card end -->
{% endblock %}
