{% extends 'layout.html '%}
{% load static %}

{% block title %}
<title>E-commerce - Preference Form</title>
{% endblock %}

{% block main_content %}

<form method="post" action="{% url 'recommendproduct' %}">
    {% csrf_token %}
    <label for="category">What do you want to buy:</label>
    <input type="text" id="category" name="category" required><br><br>

    <label for="min_price">What is your budget:</label>
    <input type="number" id="min_price" name="min_price" required>

    <label for="max_price"> to </label>
    <input type="number" id="max_price" name="max_price" required><br><br>
    
    <input type="submit" value="Find Recommended Products">
</form>

{% endblock %}
